@import "./../../common/constants";
@import "./../../../node_modules/@fortawesome/fontawesome-free/css/all.min.css";

.quests-main{

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
  position: relative;
  margin-top: 200px;

  &__title{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #3E3B3B;
    display: block;
    width: 100%;
    margin-top: -200px;

    @include sm{
      font-size: 36px;
      line-height: 45px;
      text-align: left;
    }
  }

  .checked {
    color: #FE8B15 !important;
  }

  .fa-star{
    color: #DBDBDB;
  }

  &__pagination{
    bottom: 16px !important;
    display: flex;
    align-items: center;
    justify-content: center;

    .swiper-pagination-bullet{
      width: 10px;
      height: 10px;
      background: #D4D5E0;
      opacity: 1;

    }

    .swiper-pagination-bullet-active{
      width: 15.84px;
      height: 15.84px;
      background: #E2C059;
      box-shadow: 0px 4px 19px #EFCA58;
      margin-top: 2px;
    }

  }

  &__button{
    height: 62px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(92.5deg, #2182BE -47.21%, #58DFDF 216.25%);
    border-radius: 51px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 99%;
    text-align: center;
    color: #FFFFFF;
    transition: .5s all;

    @include lg{
      margin-top: 50px;
      display: none;
    }

    &:hover{
      background: linear-gradient(92.5deg, #215677 -47.21%, #58DFDF 216.25%);
      transition: .5s all;

    }

    @include md{
      max-width: 272px;
      margin-left: unset;
    }
  }



  &__button:after{
    content: "";
    display: block;
    background-image: url("./../../images/next.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 27.87px;
    height: 4px;
    min-width: 27.87px;
    min-height: 4px;
    margin-left: 5px;
  }

  &__back{
    background: #334F5D;
    opacity: .8;
    filter: blur(7px);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  &__slide{
    padding-top: 100px;
    padding-bottom: 50px;
    cursor: pointer;

    &:hover{

      @include lg{
        .quests-main__button{
          display: flex;
        }
      }

    }

  }

  &__wrapper-text{
    position: relative;
  }


  &__wrapper-div{
    background: #E8F2F4;
    border-radius: 20px;
    height: 201px;
  }

  &__wrapper-image-div{
    width: 100%;
    height: 250px;
    margin-top: -49px;
    position: absolute;
    top: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  &__wrapper-image{
    margin-bottom: -40px;
  }

  &__content{
    background: #FFFFFF;
    box-shadow: 0px 6px 79px rgba(92, 190, 255, 0.51);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: -30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
  }

  &__content-title{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-decoration-line: underline;
    color: #1E82BD;
    display: block;
    padding-top: 70px;
    margin-bottom: 20px;
  }

  &__content-text{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #3E3B3B;
    display: block;
    margin-bottom: 5px;
  }

  &__content-complexity{
    display: inline-block;
    margin-left: 5px;
  }






}