mixin banner-main()
    +b.banner-main
        +e.container.swiper-container
            +e.wrapper.swiper-wrapper
                +e.slide.swiper-slide Slide 1
                +e.slide.swiper-slide Slide 2
                +e.slide.swiper-slide Slide 3
            +e.pagination.swiper-pagination