mixin gift()
    +b.gift()
        +e.number
            +e.SPAN.number-text - 10%
        +e.content
            +e.SPAN.title Акция
            +e.SPAN.desc Анимационные программы
            +e.SPAN.text Singulart IT-Professionals Augmentation! is a reliable way to optimise the costs of a project.
        +e.A.button(href="#") Узнать больше
        +e.IMG.image(src=require('./../images/gift.png'), alt='Logo')