mixin head()
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        title=htmlWebpackPlugin.options.title
        meta(property='og:image' content='')
        meta(property='og:title' content='')
        meta(property='og:url' content='')
        meta(name='description' content='')
        meta(name='Keywords' content='')
        meta(name='robots' content='max-snippet:-1, max-image-preview:large, max-video-preview:-1')
        link(rel='canonical' href='')
        meta(property='og:locale' content='ru_RU')
        meta(property='og:type' content='website')
        meta(property='og:title' content='')
        meta(property='og:description' content='')
        meta(property='og:url' content='')
        meta(property='og:site_name' content='')
        meta(name='twitter:card' content='summary_large_image')
        meta(name='twitter:description' content='')
        meta(name='twitter:title' content='')