include ./mastak-lib/mixins
include ./components/header/header
include ./components/footer/footer
include ./components/banner/banner
include ./components/about/about
include ./components/process/process
include ./components/product-main/product-main
include ./components/benefits/benefits
include ./components/contact/contact
include ./components/about-main/about-main
include ./components/wholesale/wholesale
include ./components/products/products
include ./components/order/order
include ./components/text/text
include ./components/product/product
include ./components/accountInfo/accountInfo
include ./components/account/account
include ./components/contact/contact
include ./components/page404/page404
include ./components/popup/popup
include ./components/popup-order/popup-order
include ./components/buyers/buyers
include ./components/delivery/delivery
include ./components/blog/blog