@import "fonts";
@import "reset";
@import "constants";
/*    Add Swiper styles */
@import "./../../node_modules/swiper/dist/css/swiper.min.css";

/**
    Add Fontawesome styles
    @import '~@fortawesome/fontawesome-free/css/all';
*/
A {
    cursor: pointer;
}
body {
    font-family : 'MyriadPro', sans-serif;
    position    : relative;
    //height      : 100vh;
    overflow-x: hidden;
    height      : 100%;


}

*{
    outline: none;
}



.app {
    display        : flex;
    flex-direction : column;
    min-height     : 100vh;

    &__h_100vh {
        height : 100vh;
    }

    header {
        flex-shrink : 0;
    }

    main {
        flex : 1;
    }

    footer {
        flex-shrink : 0;
    }

    .checkout, .reviews__inner, .program-wrapper, .contacts-wrapper, .single-wrapper, .page-wrapper, .page404, .title, footer, .partnership, .news, .seminarforu, .stock, .features {
        position : relative;
        z-index  : 1;
    }

    .program{
        position : relative;
        z-index  : 2;
    }

}
.flex-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.editor{
    margin: 1rem 0;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 3rem;
    z-index: 2;

    @include lg {
        margin: 2rem 0;
    }

    p{
        margin: 1rem 0;
        font-family: "Open Sans", sans-serif;

        @include lg {
            margin: 2rem 0;
        }
    }

    strong{
        margin: 1rem 0;
        font-family: "Open Sans", sans-serif;
        font-weight: bold;

        @include lg {
            margin: 2rem 0;
        }
    }
    em{
        margin: 1rem 0;
        font-family: "Open Sans", sans-serif;
        font-style: italic;

        @include lg {
            margin: 2rem 0;
        }
    }
    del{
        margin: 1rem 0;
        font-family: "Open Sans", sans-serif;

        @include lg {
            margin: 2rem 0;
        }
    }
    a{
        text-decoration: none;
        margin: 1rem 0;
        font-family: "Open Sans", sans-serif;

        @include lg {
            margin: 2rem 0;
        }
    }
    ul{
        margin-top: .5px;

        @include lg{
            margin-top: 1rem;
        }
        li{
            margin: .5rem 0;
            font-family: "Open Sans", sans-serif;
            padding-left: 15px;
            list-style-type: disc;
            list-style: inside;

            @include lg {
                margin: 1rem 0;
            }
        }
    }

    ol{

        list-style-type: decimal;
        margin-top: .5px;

        @include lg{
            margin-top: 1rem;
        }

        ul{

            list-style-type: disc;
            padding-left: 15px;


        }

    }

    ol{

        list-style-type: decimal !important;
        margin-top: .5px;

        @include lg{
            margin-top: 1rem;
        }

        li{
            margin: .5rem 0;
            font-family: "Open Sans", sans-serif;
            padding-left: 15px;
            list-style-type: decimal !important;
            list-style: inside;

            @include lg {
                margin: 1rem 0;
            }
        }
    }
    ul {

        margin-top: .5px;

        @include lg{
            margin-top: 1rem;
        }

        ul{

            padding-left: 15px;

            li{
                margin: .5rem 0;
                font-family: "Open Sans", sans-serif;
                padding-left: 15px;
                list-style-type: disc;
                list-style: inside;

                @include lg {
                    margin: 1rem 0;
                }
            }

        }

    }
    ol {

        margin-top: .5px;

        @include lg{
            margin-top: 1rem;
        }

        ol{

            padding-left: 15px;

            li{
                margin: .5rem 0;
                font-family: "Open Sans", sans-serif;
                padding-left: 15px;
                list-style-type: decimal !important;
                list-style: inside;

                @include lg {
                    margin: 1rem 0;
                }
            }

        }

    }

    blockquote {

        padding-left: 20px;


        p{
            margin: .5rem 0;
            font-family: "Open Sans", sans-serif;

            @include lg {
                margin: 1rem 0;
            }
        }

        cite{
            margin: .5rem 0;
            font-family: "Open Sans", sans-serif;
            font-style: italic;

            @include lg {
                margin: 1rem 0;
            }
        }

    }
    h2 {
        margin: 1rem 0;
        font-family: "Open Sans", sans-serif;

        @include lg {
            margin: 2rem 0;
        }
    }

    h3 {
        margin: 1rem 0;
        font-family: "Open Sans", sans-serif;

        @include lg {
            margin: 2rem 0;
        }
    }

    h4{
        margin: 1rem 0;
        font-family: "Open Sans", sans-serif;

        @include lg {
            margin: 2rem 0;
        }
    }

}

.main{
    display: flex;
    flex-direction: column;
}

@include loader();
@include iner();
@include base-setup();

/**
    Add Editor
    @include editor-content();
*/
@include editor-content {
    color : #565656;
}

;

@include customize-support {
    /**
        Add any css
     */
}
