/**
    font-family: 'Roboto', sans-serif;
    @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700,900&subset=cyrillic');
 */

/**
    font-family: 'Open Sans', sans-serif;
*/

@font-face {
  font-family: 'Gilroy';
  src: url('./../fonts/gilroy/stylesheet.css') format("opentype");
}

