mixin animation()
    +b.animation
        .container
            +e.SPAN.title Анимационные программы
            +e.container.swiper-container
                +e.list.swiper-wrapper
                    +e.item.swiper-slide
                        +e.SPAN.item-title Поздравление именинника
                        +e.item-list
                            +e.SPAN.item-type Знакомство с детьми
                            +e.SPAN.item-type Экспресс аквагрим (лёгкие рисунки деткам до 5 чел)
                            +e.SPAN.item-type 1 игра про именинника
                            +e.SPAN.item-type Торжественное поздравление именинника
                            +e.SPAN.item-type Подача торта (аниматор торжественно вынесет торт и споёт вместе с гостями песню "С Днём рождения")
                            +e.SPAN.item-type Фото на память с аниматором
                        +e.SPAN.time Время:
                            SPAN  30 минут
                        +e.SPAN.price Стоимость:
                            SPAN 40 рублей.
                        +e.A.link(href="#") Забронировать
                    +e.item.swiper-slide
                        +e.SPAN.item-title Поздравление именинника
                        +e.item-list
                            +e.SPAN.item-type Знакомство с детьми
                            +e.SPAN.item-type Экспресс аквагрим (лёгкие рисунки деткам до 5 чел)
                            +e.SPAN.item-type 1 игра про именинника
                            +e.SPAN.item-type Торжественное поздравление именинника
                            +e.SPAN.item-type Подача торта (аниматор торжественно вынесет торт и споёт вместе с гостями песню "С Днём рождения")
                            +e.SPAN.item-type Фото на память с аниматором
                        +e.SPAN.time Время:
                            SPAN 30 минут
                        +e.SPAN.price Стоимость:
                            SPAN 40 рублей.
                        +e.A.link(href="#") Забронировать
                    +e.item.swiper-slide
                        +e.SPAN.item-title Поздравление именинника
                        +e.item-list
                            +e.SPAN.item-type Знакомство с детьми
                            +e.SPAN.item-type Экспресс аквагрим (лёгкие рисунки деткам до 5 чел)
                            +e.SPAN.item-type 1 игра про именинника
                            +e.SPAN.item-type Торжественное поздравление именинника
                            +e.SPAN.item-type Подача торта (аниматор торжественно вынесет торт и споёт вместе с гостями песню "С Днём рождения")
                            +e.SPAN.item-type Фото на память с аниматором
                        +e.SPAN.time Время:
                            SPAN 30 минут
                        +e.SPAN.price Стоимость:
                            SPAN 40 рублей.
                        +e.A.link(href="#") Забронировать
                    +e.item.swiper-slide
                        +e.SPAN.item-title Поздравление именинника
                        +e.item-list
                            +e.SPAN.item-type Знакомство с детьми
                            +e.SPAN.item-type Экспресс аквагрим (лёгкие рисунки деткам до 5 чел)
                            +e.SPAN.item-type 1 игра про именинника
                            +e.SPAN.item-type Торжественное поздравление именинника
                            +e.SPAN.item-type Подача торта (аниматор торжественно вынесет торт и споёт вместе с гостями песню "С Днём рождения")
                            +e.SPAN.item-type Фото на память с аниматором
                        +e.SPAN.time Время:
                            SPAN 30 минут
                        +e.SPAN.price Стоимость:
                            SPAN 40 рублей.
                        +e.A.link(href="#") Забронировать