include ./../mixins
doctype html
html
    +head()
    body(class="app")
        +loader('loader__spinner_falcon')
        +popup()
        main.main
            +header()
            +banner()
            +product-main()
            +benefits()
            .process-main
                +process()
            +about-main()
            +wholesale()
            +footer()
