include ./../mixins
doctype html
html
    +head()
    body(class="app")
        +header()
        main.main
            +banner-main()
            +offers-main()
            +quests-main()
            +gallery-main()
            +animation()
            +how()
            +review()
        +footer()


