mixin review()
    +b.review
        .container
            +e.SPAN.title Отзывы
            +e.container.swiper-container
                +e.wrapper.swiper-wrapper
                    +e.slide.swiper-slide
                        +e.image-wrap
                            +e.IMG.image(src=require('./../images/rev.png'), alt='Logo')
                        +e.content
                            +e.content-complexity
                                span.fa.fa-star.checked
                                span.fa.fa-star.checked
                                span.fa.fa-star.checked
                                span.fa.fa-star
                                span.fa.fa-star
                            +e.SPAN.name Иванов Иван
                            +e.desc
                                P
                                You tell us about your needs, technical and soft skills requirements for candidates: tech stack, work experience, communication behaviour and a team player role. ou tell us about your needs, technical and soft skills requirements for candidates: tech stack, work experience, communication behaviour and a team player role.You tell us about your needs, technical and soft skills requirements for candidates: tech stack, work experience, communication behaviour and a team player role.
                    +e.slide.swiper-slide
                        +e.IMG.image(src=require('./../images/rev.png'), alt='Logo')
                        +e.content
                            +e.content-complexity
                                span.fa.fa-star.checked
                                span.fa.fa-star.checked
                                span.fa.fa-star.checked
                                span.fa.fa-star
                                span.fa.fa-star
                            +e.SPAN.name Иванов Иван
                            +e.desc
                                P
                                You tell us about your needs, technical and soft skills requirements for candidates: tech stack, work experience, communication behaviour and a team player role. ou tell us about your needs, technical and soft skills requirements for candidates: tech stack, work experience, communication behaviour and a team player role.You tell us about your needs, technical and soft skills requirements for candidates: tech stack, work experience, communication behaviour and a team player role.
                    +e.slide.swiper-slide
                        +e.IMG.image(src=require('./../images/rev.png'), alt='Logo')
                        +e.content
                            +e.content-complexity
                                span.fa.fa-star.checked
                                span.fa.fa-star.checked
                                span.fa.fa-star.checked
                                span.fa.fa-star
                                span.fa.fa-star
                            +e.SPAN.name Иванов Иван
                            +e.desc
                                P
                                You tell us about your needs, technical and soft skills requirements for candidates: tech stack, work experience, communication behaviour and a team player role. ou tell us about your needs, technical and soft skills requirements for candidates: tech stack, work experience, communication behaviour and a team player role.You tell us about your needs, technical and soft skills requirements for candidates: tech stack, work experience, communication behaviour and a team player role.
                +e.button-prev.swiper-button-prev
                +e.button-next.swiper-button-next
